* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #F9F9F9;
}
.container {
    margin:0 auto;
    max-width: 1440px;
}
/* <!-- header დასაწყისი --> */
header {
    background: #F9F9F9;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 84px;
    background: #F9F9F9;
    margin-bottom: 10px;
}

.logo {
    width: 234px;
    height: 49px;
}
.logo img {
    transition: .3s;
}
.logo img:hover {
    transform: scale(1.1);
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:14px; 
}
.nav a { 
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    color:#262626;
    cursor: pointer;
    transition: 0.3s;
    padding: 9px 20px;
    border-radius: 40px;
}
.nav a:hover {
    padding: 9px 20px;
    border-radius: 40px;
    background-color: #4CE0D7;
    color: white;
    transform: scale(1.1);
}
.nav img {
    cursor: pointer;
    border-radius: 40px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.nav img:hover {
    transform: scale(1.1);
}
/* <!-- header დასასრული --> */
/* first-section დასაწყისი */
.first-section {
    padding: 0 84px;
    margin-bottom: 73px;
}
.background {
    display: flex;
    flex-direction: column;
    gap:25px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 218px 0 150px 53px;
    background-image: url(./assets/first\ section\ background.png);
}
.background h3 {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 23%;
    color: #FFFFFF;
}
.background h1 {
    font-weight: 400;
    font-size: 46px;
    line-height: 69px;
    letter-spacing: 0%;
    color: #FFFFFF;
}
.background span {
    font-weight: 700;
    font-size: 46px;
    line-height: 69px;
    letter-spacing: 0%;
    background: linear-gradient(90deg, #4CE0D7 43.06%, #8BA9F4 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.background p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    max-width: 490px;
    color: #FFFFFF;
}
/* first-section დასასრული */
/* topics section დასაწყისი */
.topics-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0%;
    margin-bottom: 48px;
}
.topics-section {
    margin-bottom: 87px;
    padding: 0 84px;
    display: flex;
    flex-direction: column;
    gap:48px;
}
.topics-card {
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:max-content;
    padding: 51px 29px 29px 29px;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.topics-card:hover {
    transform: scale(1.1);
}
.topic-card-image {
    width: 103px;
    height: 103px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.topics-card h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    color: #262626;
    margin-bottom: 33px;
}
.topics-card button {
    background-color: #4CE0D7;
    color: #262626;
    padding: 10px 40px;
    border-radius: 40px;
    border: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    transition: .3s;
}
.topics-card button:hover {
    color: white;
    background-color: #014e49;
    transform: scale(1.1);
}
.topics-cards {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.lane {
    margin-bottom: 52px;
    padding: 0 84px;
}
/* topics section დასასრული */
/* <!-- last  დასაწყისი    --> */
.last-section {
    margin-bottom: 69px;
    padding: 0 118px;
}
.last-section-card {
    display: flex;
    gap:46px;
    box-shadow: 0px 6px 6px 0px #000;
    border-radius: 20px;
    background-color: white;
}
.last-section-card-image {
    padding: 25px 384px 337px 34px;
    border-radius: 20px;

}
.last-section-card-image a{ 
    background-color: #262626;
    color:white;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    padding: 9px 51px;
    border-radius: 40px;
}
.last-section-card-texts {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 31px;
    gap:32px;
}
.last-section-card-text1 {
    display: flex;
    align-items: center;
    gap: 17px;
}
.paragraph {
    display: flex;
    gap:150px;
}
.paragraph p{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    color: #BCBCBC;
}
.last-section-card-text2 {
    display: flex;
    flex-direction: column;
    gap:33px;
}
.last-section-card-text2 h1 {
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    letter-spacing: 0%;
    max-width: 500px;
}
.last-section-card-text2 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    max-width: 450px;
}
.last-section-cards {
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.last-section-card-arrow a{
    display: flex;
    gap: 26px;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    color: #4CE0D7;
}
.last-section-card1{
    background: url(./assets/card1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.last-section-card2{
    background: url(./assets/card2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.last-section-card3{
    background: url(./assets/card3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.last-section-card-text1 img {
    width: 65px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
/* <!-- last  დასასრული    --> */